.formContainer{
	padding-top: 5%;
	padding-bottom: 5%;
	margin-right: 15%;
	position: relative;
	margin: auto;
	
}
.imgArea{
	width:500;
	height:500;
	max-width: 2000;
	max-height: 2000;
	margin: auto;
	display: block;
	border: 10px solid black;
}